/* css reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* top region styles*/
.top{
    background-image: url("./assets/statue-of-liberty.png");
    height: 75vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
}

.top .header-text-div-container
{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

/* header styles*/
.header{
    display: flex;
    padding: 1.5rem 2rem;
    font-family: 'Open Sans', sans-serif;
    position:fixed;
    top:0;
    left:0;
    right: 0;
    transition: background-color 0.3s;
    z-index: 1000;
}

.header.scrolled{
    background-color: lightblue;
}

.header .header-logo-section{
    flex: 1;
}

.header .header-logo-section h2{
    font-weight: bold;
    font-size: 36px;
    font-style: italic;
}

.header .header-links-section{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.header .header-links-section a{
    text-decoration: none;
    color: black;
    font-size: larger;
    transition: all 0.3s;
}

.header .header-links-section a:hover{
   color: white;
}


.top .header-text{
    font-size: 64px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: bold;
    text-align: center;
    position: relative;
    bottom: 2rem;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

/* main region styles */
.main{
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* location nav region styles*/
.main .location-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}

/* location nav bar styles */
.main .location-nav .location-nav-bar-container{
    display: flex;
    background: grey;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    padding: 0.4rem 1.5rem 0.4rem 0.9rem;
    border-radius: 15px;
}

.main .location-nav .location-nav-bar-container .location-nav-icon{
 padding-right: 1rem;
}

.main .location-nav .location-nav-bar-container .location-nav-icon img{
    max-width: 24px;
    height: auto;
}

.main .location-nav .location-nav-bar-container .location-nav-tabs{
    display: flex;
    gap:0.5rem;    
}

.main .location-nav .location-nav-bar-container .location-nav-tabs a{
   color: white;
   text-decoration: none;
   transition: all 0.2s;
}

.main .location-nav .location-nav-bar-container .location-nav-tabs a:hover{
  font-weight: bold;
 }

 /* content region styles */
 .content{
    padding: 0 15%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
 }
 
 .content .card-flex-container{
    display: flex;
    justify-content: center;
 }

 .content .card{
    display: flex;
    flex-direction: column;
    border: black solid 1px;
    box-shadow: 2px 2px 2px grey;
    transition: all 0.3s;
 }

 .content .card:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
 }

 .content .card .card-top{
   min-height: 300px;
   background-image: url("./assets/statue-of-liberty.png");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
 }

 .content .card .card-bottom{
    font-family: "Open Sans", sans-serif;
    padding: 1rem 0.3rem 2rem 0.3rem;
}

.content .card .card-bottom h2{
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 0.5rem;
}

.content .card .card-bottom p{
    padding-right: 1rem;
}

/* page nav styles*/
.main .page-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}

/* location nav bar styles */
.main .page-nav .page-nav-bar-container{
    display: flex;
    background: grey;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    padding: 0.4rem 1.5rem 0.4rem 0.9rem;
    border-radius: 15px;
}

.main .page-nav .page-nav-bar-container .page-nav-icon{
 padding-right: 1rem;
}


.main .page-nav .page-nav-bar-container .page-nav-tabs{
    display: flex;
    gap:0.5rem;    
}

.main .page-nav .page-nav-bar-container .page-nav-tabs a{
   color: white;
   text-decoration: none;
   transition: all 0.2s;
}

.main .page-nav .page-nav-bar-container .page-nav-tabs a:hover{
  font-weight: bold;
 }

 /* footer region styles*/
 .footer{
    display: flex;
    background-color: black;
    padding: 2rem 2rem;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Open Sans', sans-serif;

 }

 .footer .footer-logo-section{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
 }

 .footer .footer-logo-section h2{
    font-weight: bold;
    font-style: italic;
    font-size: 36px;
 }

 .footer .footer-center-text-section{
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
 }

 .footer .footer-links-section{
    display: flex;
    flex:1;
    justify-content: end;
    gap: 1rem
 }

 .footer .footer-links-section a{
    color: white;
    text-decoration: none;
    transition: all 0.3s;
 }

 .footer .footer-links-section a:hover{
    color: grey;
 }